{% extends "base.html.twig" %}

{% block title %} Le Monde de Memo {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">       
 {% endblock %}

{% block body %}

<div id="titre">
<h2>{{ memo.type }} : {{memo.titre}} </h2> 
</div>


<div id="test">

    <div id="image">
        {% if memo.image %}
        <img src={{memo.image}} alt="image"> 
        {% endif %}
    </div>
 
    <div id="texte"> 
        <span class="description">DESCRIPTION</span><br/>
        <span id="descriptionTotale">{{memo.description}}</span> <br/><br/>
        <span id="date"><span class="gras">Memo ajouté le :</span> {{memo.date|date("m/d/Y")}}</span> <br/>
        <br/>

        {% if memo.auteur %}
        <span id="auteur"><span class="gras">De</span> {{memo.auteur}}</span> <br/><br/>
        {% endif %}

        {% if memo.genre %}
        <span id="genre"><span class="gras">Genres</span>  {{memo.genre}}</span><br/><br/>
        {% endif %}

        {% if memo.acteurs %}
        <span id="acteurs"><span class="gras">Avec</span>  {{memo.acteurs}}</span><br/><br/>
        {% endif %}

        {% if memo.supplement %}
        <span> <span class="gras">Informations complémentraires</span> <br/>{{memo.supplement}}</span>
        {% endif %}       
    </div>
</div>
<br/><br/>

<div id="lien">
{% if memo.lienInfo %}
 <a  class="liens" href="{{ relative_path(memo.lienInfo) }}"> <span class="gras">Votre site d'informations :</span> {{memo.lienInfo}}</a><br/>
 {% endif %}

{% if memo.lienStream %}
 <a class="liens" href="{{ relative_path(memo.lienStream)}}"><span class="gras">Votre site de streaming :</span> {{memo.lienStream}}</a><br/>
 {% endif %}

{% if memo.lienChoix %}
<a class="liens" href= "{{ relative_path(memo.lienChoix)}}"><span class="gras">Votre site supplémentaire :</span> {{memo.lienChoix}}</a><br/><br/><br/><br/><br/>
 {% endif %}
</div>
<br/>

<div class="autre">
 <a class="liens2" href="{{ path('SuppMemo',{'id': memo.id }) }}">Supprimer ce mémo</a><br/>
 <a class="liens2" href="{{ path('modifMemo',{'id': memo.id }) }}">Modifier ce mémo</a>
</div>


 {% endblock %}