{% extends "base.html.twig" %}

{% block title %} Le Monde de Memo {% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/formUser.css') }}">       
 {% endblock %}

{% block body %}
<div id="corps">
{{ form_start(form) }}
{{ form_widget(form) }}

<div id="bouton">
{{ form_end(form) }}
</div>

</div>
<p>{{msg}}</p> 
{% endblock %}