{% block header %}
<header>


{% if app.user %}
<button type="button">Mon Compte</button> 
{% else %}
<button type="button">S'inscrire</button>
{% endif %}

  

 <a href="{{ path('home') }}"><img src="{{ asset("images/logo.jpg")}}" alt="image"></a>


{% if app.user %}
<button type="button">Se Déconnecter</button> <br/>
 {% else %}
<button type="button">Se Connecter</button> <br/>
  {% endif %}



 <a href="{{ path('TousMemos') }}">Tous</a>
 <a href="{{ path('TypeMemo' ,{'type': "film" }) }}">Films</a>
 <a href="{{ path('TypeMemo' ,{'type': "serie" }) }}">Series</a>
 <a href="{{ path('TypeMemo' ,{'type': "anime" }) }}">Animes</a>
 <a href="{{ path('TypeMemo' ,{'type': "manga" }) }}">Mangas</a>
 <a href="{{ path('TypeMemo' ,{'type': "roman" }) }}">Romans</a>
 <a href="{{ path('TypeMemo' ,{'type': "comics" }) }}">Comics</a>
 <a href="{{ path('TypeMemo' ,{'type': "jeux video" }) }}">Jeux vidéos</a>
 <a href="{{ path('TypeMemo' ,{'type': "autres" }) }}">Autres</a>

</header>
{% endblock %}