{% extends "base.html.twig" %}

{% block title %} Le Monde de Memo {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/liste.css') }}">       
 {% endblock %}

{% block body %}
<div id="corps">
<h2>Vos fiches sur les {{type}}s </h2>

 {% for memo in memos %} 
  <a href="{{ path('DetailsMemo' ,{'id': memo.id }) }}"><span>{{memo.type}} :</span> {{memo.titre}} </a><br/>
 {% endfor %}

</br>
 <a href="{{ path('AddMemo') }}">Ajouter un nouveau Memo</a></br>
 </div>
 {% endblock %}
